body {
    background-color: lightskyblue; 
}

.title , .subtitle{
    color: indianred;
    padding: 0;
    text-align: center;
}

img {
    margin-left: 40%;
    margin-right: 40%;
    max-height: 20%;
    max-width: 20%;
}

p {
    margin-left: 30%;
    margin-right: 30%;
    max-width: 50%;
}